.display {
    grid-column: span 4;
    background-color: #252525;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    overflow: hidden;
}

.display.big {
    font-size: 2em;
}

.display.small {
    font-size: 1.4em;
}